.auth-screen-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 25% 100%;
    background-color: gray;
}

.auth-modal-container input {
    padding: 16px;
    border-radius: 8px;
    border: none;
}

.auth-modal-container button {
    padding: 8px;
    border-radius: 4px;
    border: none;
}