.sidebar-container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    z-index: 100;
}

.sidebar-icon {
    width: 24px;
    padding: 10px 20px;
    z-index: 50;
}

.sidebar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 72px;
    background-color: var(--colorprimary);
}


@media (min-width: 720px) {

    .sidebar-icon {
        width: 32px;
    }

    .sidebar-content{
        padding: 10px 20px;
    }

}