:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorprimary: #8BB174;
  --colorsecondary: #f5f5f5;
  --coloraccent: #dce0c1;
  --colortext: #708d5c;

  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
}

section {
  width: 80vw;
  margin: 0 auto;
  padding: 64px 0;
}

button:hover {
  background-color: #d3dd8f;
  cursor: pointer;
}

@media (min-width: 2000px) {
    h1 {
      font-size: 1.5vw;
    }
    
    p {
      font-size: 0.75vw;
    }

}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}   */
